<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.studymongolian.mongollibrarydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MongolLabelActivity"
            android:label="@string/mongol_label_activity_title" />
        <activity
            android:name=".MongolTextViewActivity"
            android:label="@string/mongol_textview_activity_title" />
        <activity
            android:name=".MongolEditTextActivity"
            android:label="@string/mongol_edittext_activity_title" />
        <activity
            android:name=".TestingActivity"
            android:label="Testing"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UnicodeActivity"
            android:label="@string/unicode_activity_title" />
        <activity
            android:name=".ConvertCodeActivity"
            android:label="@string/convert_code_activity_title" />
        <activity
            android:name=".MongolFontActivity"
            android:label="@string/mongol_font_activity_title" />
        <activity
            android:name=".KeyboardActivity"
            android:label="@string/keyboard_activity_title" />
        <activity
            android:name=".KeyboardCandidateActivity"
            android:label="@string/keyboard_candidate_activity_title" />
        <activity
            android:name=".MongolToastActivity"
            android:label="@string/mongol_toast_activity_title" />
        <activity
            android:name=".MongolButtonActivity"
            android:label="@string/mongol_button_activity_title" />
        <activity
            android:name=".MongolAlertDialogActivity"
            android:label="@string/mongol_alert_dialog_activity_title" />
        <activity
            android:name=".HorizontalRecyclerViewActivity"
            android:label="@string/horizontal_recyclerview_activity_title" />
        <activity
            android:name=".CustomSystemKeyboardActivity"
            android:label="@string/keyboard_custom_system_activity_title" />

        <!-- System keyboard example one (single keyboard using Keyboard) -->

        <service
            android:name=".KeyboardInputMethodService"
            android:label="Keyboard example"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>

        <!-- System keyboard example one (multiple keyboard using ImeContainer) -->

        <service
            android:name=".ImeContainerInputMethodService"
            android:label="ImeContainer example"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method"/>
        </service>
    </application>

</manifest>